<h1>Functions</h1>

        <div id="note-div">
            <h2>Hoisting</h2>
                <p>
                 A js file does jit (just in time) compilation <br>
                 Reading everything and afterwards making it accessible
                </p>
        </div>

        <div id="note-div">
            <h2>Math</h2>
                <p>
                 Math.random() returns a number between 0 and up to 1. <br>
                 Math.random() * 10 gives a number from 0 and up to 10 <br>
                 Math.floor() rounds a number down to the nearest integer
                </p>
        </div>

        <div id="note-div">
            <h2>Anonymous functions</h2>
                <p>
                 In JavaScript we can have anonymous functions, meaning they wont have a name. <br>
                 This is an example of such a function:   
                </p>
                <code>const getRandomIntAnonymousFunction = function (min, max){</code> <br>
                <code>&nbsp return Math.floor(Math.random() * (max-min + 1) + min)</code> <br>
                <code>}</code>
                
        </div>

        <div id="note-div">
            <h2>Arrow Function</h2>
                <p>
                 Allows for a shorter syntax for function expressions. <br>
                 You can skip the function keyword, the return keyword, and the curly brackets <br>
                 An arrow function uses the => symbol. <br>
                 An arrow function is always written as a function expression.
                </p>

                <code>const getRandomIntArrowFunction = (min, max) =>{</code><br>
                <code>&nbsp return Math.floor(Math.random() * (max-min + 1) + min)</code><br>
                <code>}</code>
        </div>

        <div id="note-div">
            <h2>Callback function</h2>
                <p>
                 A callback function is a function, within a function. In our semester we use it setting up the server. <br>
                 <!-- RESEARCH CALLBACK FUNCTION -->
                </p>
        </div>

        <div id="learning-goals">
            <h3>Title</h3>
            <p>Text</p>
        </div>
    