
        <h1>GIT</h1>

        <div id="note-div">
            <h2>git terminal commands</h2>
                <p>
                    "git clone $url" clones github url to a local path<br>
                    "git add" staging changes <br>
                    "git commit" commiting staged changes <br>
                    "git push" pushing the commited changes <br>
                    "git pull" pulls the latest changes
                </p>
        </div>

        <div id="note-div">
            <h2>git branch commands</h2>
                <p>
                    "git checkout -b $branch name" creates a branch with a given name<br>
                    "git checkoout $branch name" goes to a branch with a given name
                </p>
        </div>

        <div id="learning-goals">
            <h3>Learning goals:</h3>
            <p>Can work with Git in the terminal.</p>
        </div>

