
    
        <h1>Introduction</h1>

        <div id="note-div">
            <h2>What is node</h2>
                <p>
                Node.js is a free, open-source JavaScript runtime environment that allows 
                developers to execute JavaScript code outside of a web browser. <br>

                Traditionally, JavaScript could only run inside web browsers to make web pages interactive. 
                Node.js changes this by utilizing Google Chrome's fast V8 JavaScript engine to run JavaScript 
                directly on a computer or server. This enables developers to use JavaScript for back-end (server-side) development, 
                such as creating APIs, handling databases, and routing web traffic. 
                </p>
        </div>

        <div id="note-div">
            <h2>node REPL</h2>

                <p>
                Read Evaluate Print Loop<br> 

                REPL is a programming language environment (basically a console window)
                that takes single expression as user input and returns the result back to the console after execution.
                The REPL session provides a convenient way to quickly test simple JavaScript code.
                You can execute js directly in the terminal after writing "node" or you can write "node app.js"
                To execute a .js file named app.js (You need to cd to the right place in the file structure)
                </p>

                <code> Example: C:\Users\Morte\Desktop\fjerde_semester\node\node_1st_mandatory> node app.js </code><br>
        </div>

        <div id="note-div">
            <h2>nodemon</h2>
                <p>
                If we use node REPL, and make a change to our codebase, we have to rerun the command <br>
                However if we use nodemon it automatically restarts our .js app. It's very helpful and saves a lot of time
                </p>

                <code> Example: C:\Users\Morte\Desktop\fjerde_semester\node\node_1st_mandatory> nodemon.cmd app.js </code><br>
        </div>

        <div id="learning-goals">
            <h3>Learning goals:</h3>
            <p>Can explain what Node.js is and how to run files with it.</p>
        </div>