<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💡</text></svg>">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>Introduction</title>
</head>
<body>

    <nav>
        <a href="/introduction">01_Introduction</a>
        <a href="/">2nd</a>
        <a href="/">3rd</a>
        <a href="/">4th</a>
        <a href="/">5th</a>
        <a href="/">6th</a>
        <a href="/">7th</a>
        <a href="/">8th</a>
    </nav>

    <main> 
    
        <h1>Introduction</h1>

        <div id="note-div">
            <h2>What is node</h2>
                <p>
                Node.js is a free, open-source JavaScript runtime environment that allows 
                developers to execute JavaScript code outside of a web browser. <br>

                Traditionally, JavaScript could only run inside web browsers to make web pages interactive. 
                Node.js changes this by utilizing Google Chrome's fast V8 JavaScript engine to run JavaScript 
                directly on a computer or server. This enables developers to use JavaScript for back-end (server-side) development, 
                such as creating APIs, handling databases, and routing web traffic. 
                </p>
        </div>

        <div id="note-div">
            <h2>node REPL</h2>
                <p>
                Read Evaluate Print Loop<br>

                REPL is a programming language environment (basically a console window)
                that takes single expression as user input and returns the result back to the console after execution.
                The REPL session provides a convenient way to quickly test simple JavaScript code.
                You can execute js directly in the terminal after writing "node" or you can write "node app.js"
                To execute a .js file named app.js (You need to cd to the right place in the file structure)
                </p>
        </div>

        <div id="note-div">
            <h2>nodemon</h2>
                <p>
                If we use node REPL, and make a change to our codebase, we have to rerun the command <br>
                However if we use nodemon it automatically restarts our .js app. It's very helpful and saves a lot of time
                </p>
        </div>

    </main>  
    
    <footer id="learning-goals">
        <h3>Learning Goals:</h3>
        <p>Can explain what Node.js is and how to run files with it.</p>
    </footer>
</body>
</html>