    
        <h1>Rest API</h1>

        <div id="note-div">
            <h2>Three rest API conventions</h2>
                <p>
                    #1 Using the right HTTP verb: <br>
                    GET: Retrieve data <br>
                    POST: Create data <br>
                    PUT: Originally used to replace an entire row, now it's also used to partially change a row (what used to be patch)<br>
                    DELETE: Delete data <br> <br>
                
                    #2 The order of the methods <br>
                    To make it easier to read the code for you and other developers, <br>
                    the order of the methods is important. It should be as listed above.<br><br>

                    #3 Naming (Noun plural) <br>
                    Always use the plural noun of the concept the api is being designed for
                </p>
        </div>
        
        <div id="learning-goals">
            <h3>Learning goals:</h3>
            <p>
                Can design a REST API.<br>
                Knows the three REST conventions we follow
            </p>
        </div>