body {
    background-color: #ffa25b6f;
}

main {
    text-align: center;
}

nav {
    text-align: center;
    background-color: rgb(91, 116, 184);
}

#note-div {
    margin: auto;
    margin-left: 25%;
    margin-right: 25%;
    background-color:
}

#learning-goals {
    font-style: oblique;
}