<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💡</text></svg>">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>{{TAB_TITLE}}</title>
</head>
<body>

    <nav>
        <a href="/">Frontpage</a>
        <a href="/introduction">Intoduction</a>
        <a href="/variables">Variables</a>
        <a href="/git">git</a>
        <a href="/rest_api">Rest API</a>
        <a href="/functions">functions</a>
        <a href="/">6th</a>
        <a href="/">7th</a>
        <a href="/">8th</a>
    </nav>

    <main>